

.page-wraper{
    width: 100v;
   
   display: flex;
   flex-direction: column;
   justify-content: center;  
}
.carousel-item {
    height: 100vh;

    }

    .carousel-item:after {
        content:"";
        display:block;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background: #000;
        opacity: 0.3; 
        color: white;
        z-index: 1;
      }

    .carousel-caption{
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .underline{
        height: 8px;
       
       
    }

    .line-div{
        width: 100px;
        margin: 0 auto;
        border-radius: 10px;
    }

    .card img{
        height: 350px;
    }

    .card{
        margin: ;
    }

    

    /* .content-wraper{
        margin: 0 auto;
        background-color: black;
        color: white;
        height: ;
    } */

    /* .gal-body{
        background-color: black;
    }

    .menu{
        height: 300px;
    }

    .menu-card{
        width: 30%;
        height: 200px
    } */


    /* .wraper{
        width: 90%
    }
    .menu-section{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .menu-card{
        width: 30%;
        padding: 20px;
        margin-bottom: 20px;
    }

    .student-image img{
        height: 400px;
        width: 100%;
    } */


   

    